@font-face {
font-family: "Lexend Deca";
src: url("../math-31.2/fonts/Lexend[LXND,wght].ttf");
}

body{
  background: #191919;
  font-family: Lexend Deca;
  font-size: 14pt;
  color: #cccccc;
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-family: Lexend Deca;
  color: white;

}