@font-face {
font-family: "Lexend Deca";
src: url("http://mattalejo.github.io/math-31.2/Lexend[LXND,wght].ttf");
}
body{
  font-family: Lexend Deca;
  font-size: 12pt;
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-family: Lexend Deca;
}